@charset "utf-8";
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333;
    font-weight: bold;
}

a{
    text-decoration: none;
    display: block;
}

#box{
    width: 1920px;
    height: 1080px;
}

.top{
    width: 100%;
    height: 100px;
}

.logo{
    float: left;
    height: 100%;
    width: 100px;
}

.logo>a>img{
    width: 80%;
    height: 80%;
}

.companyname{
    float: left;
    height: 100%;
    width: 300px;
    line-height: 100px;
    padding-left: 20px;
    font-size: 20px;
}

.companyname a{
    font-size: 35px;
}

.menu{
    float: left;
    height: 100%;
    width: 1300px;
    z-index: 1;
}

.navi{
    float: right;
    margin-top: 25px;
    margin-right: 100px;
}

.navi>li{
    float: left;
}

.navi>li>a{
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    background-color:black;   
    text-align: center;
    color: white;
}

.navi>li>a:hover{
    color: #ffc400;
}

.submenu{
    width: 200px;
    position: absolute;
    top: 75px;
    display: none;
    z-index: 1;
    background-color: #333;
}

.submenu>li>a{
    height: 50px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: white;
}

.submenu>li>a:hover{
    color: #ffc400;
}

.login{
    float: left;
    height: 100%;
    width: 200px;
    line-height: 100px;
    font-size: 20px;
}

.bodywrap{
    width: 100%;
    height: 880px;
}

.imgslide{
    width: 100%;
    height: 300px;
    background-image: url(../../resources/Jaeheon/images/travel_map.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
}

.imgslide span{
    color: white;
}

.content{
    width: 100%;
    height: 580px;
}

.content_title{
    width: 100%;
    height: 80px;
    font-size: 25px;
    text-align: center;
    line-height: 80px;
    background-color:antiquewhite;
    box-sizing: border-box;
}

#map{
    margin-top: 30px;
}

.content>p{
    margin-top: 20px;
    text-align: center;
}

footer{
    width: 100%;
    height: 100px;
    background-color: black;
}